<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds">
    <timestamp key="byDay" datePattern="yyyy-MM-dd"/>
    <!--<property name="LOG_HOME" value="${}" />-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logger.root}/zianedu-lms.log</file>
        <!--<append>true</append>-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 날짜가 변경되면 기존 로그 파일은 아래의 형식으로 저장된다 -->
            <fileNamePattern>${logger.root}/mindedu-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- 최대 파일 용량 제한 -->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- 30일이 지난 로그는 삭제한다 -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <!--<logger name="org.mybatis" level="trace" />-->
    <logger name="com.zianedu.lms.INFO" level="INFO"/>
    <logger name="com.zianedu.lms.DEBUG" level="DEBUG"/>

    <root level="${logger.level}">
        <appender-ref ref="${logger.name}"/>
    </root>
</configuration>
